@import "reset";
@import "themes/light";
@import "themes/dark";
@import "variables/global";

.app {
  overflow: hidden;
  height: 100vh;
  font: var(--font-m);
  color: var(--primary--text);
  background: var(--bg-primary);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 16px;
}
