@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--bg-primary);
  color: var(--primary--text);


  height: 100vh;
  overflow: hidden;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 16px;
}

