.Button {
  color: var(--primary--link);
  cursor: pointer;
}

.clear {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
}

.outline {
  margin: 0;
  border: 1px solid var(--primary--text);
  border-radius: 4px;
  background: none;
  padding: 8px 12px;
  color: var(--primary--text);
}
