.Button {
  color: var(--primary--link);
  transition: all 0.3s ease;
  cursor: pointer;
}

.clear {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
}

.outline {
  margin: 0;
  border: 1px solid var(--primary--text);
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--primary--text);
  background: none;
}

.collapse {
  border: 1px solid var(--primary--text);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-l);
  color: var(--primary--text);
  background: var(--bg-primary);
}

.Button.size_m {
  font-size: var(--font-size-m);
}

.Button.size_l {
  font-size: var(--font-size-l);
}

.Button.size_x {
  font-size: var(--font-size-x);
}
