.PageError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--bg-primary);

  h1 {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: var(--font-size-x);
    line-height: var(--font-line-x);
  }

  button {
    border-radius: 4px;
    padding: 16px;
    font-size: var(--font-size-m);
    color: var(--primary1);
    background: var(--primary2);
    transition: 0.4s ease;

    &:hover {
      background: var(--primary3);
    }
  }
}