.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: var(--navbar-height);
  max-width: 100%;
  background: var(--bg-primary-block);

  &__links {
    a {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__switcher {
    display: flex;
    align-items: center;

    button {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}
